In [1]:
import pymysql
import json
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import urllib
import requests

In [2]:
import requests
#for pageNo in list=[1,...,20]

url = 'http://apis.data.go.kr/1543061/abandonmentPublicSrvc/abandonmentPublic'
params ={'serviceKey' : 'YWRncUmVrCMs8Nm7xSfh8Q2j0ao587l3WP2M/l4uSYyNrN16+Lo65V66u+IP1QUCWNki6e+6ejjwEaUJ+Iyaew==',
         'bgnde' : '20220801', #begin date
         'endde' : '20220831', #end date
         'numOfRows' : '1000',
         'pageNo' : '11',
         '_type' : 'json' }

response = requests.get(url, params=params)
print(type(response.content))

<class 'bytes'>

In [3]:
#Write data to file json with encoding
print(type(response.content.decode('utf-8')))
with open('Aug_1.json', 'w', encoding='utf-8') as my_file:
    my_file.write(response.content.decode('utf-8'))

<class 'str'>

In [4]:
#Remove redundancies and write te list into Dataframe
with open('Aug_1.json', 'r+') as f:
    data = json.load(f)
    detail=data['response']['body']['items']['item']
    print(type(detail))
    df = pd.DataFrame(detail)
    #df.columns = ['desertionNo', 'happenDt']
print (type(df['happenDt'][0]))
#df

<class 'list'>
<class 'str'>

In [5]:
db_connection_str = 'mysql+pymysql://admin:i4GSOM8GCjRfDyV@vteam6.cbr4uubmqr4e.ap-northeast-2.rds.amazonaws.com/Abandoment'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [6]:
dtypesql = {'desertionNo':sqlalchemy.types.VARCHAR(15),
            'filename':sqlalchemy.types.VARCHAR(100), 
            'happenDt':sqlalchemy.Date(), #VARCHAR(8)
            'kindCd':sqlalchemy.types.VARCHAR(50),
            'colorCd':sqlalchemy.types.VARCHAR(30), 
            'age':sqlalchemy.types.VARCHAR(30), 
            'weight':sqlalchemy.types.VARCHAR(30),
            'noticeNo':sqlalchemy.types.VARCHAR(30),
            'noticeSdt':sqlalchemy.types.Date(), #VARCHAR(8)
            'noticeEdt':sqlalchemy.types.Date(), #VARCHAR(8)
            'popfile':sqlalchemy.types.VARCHAR(100),
            'processState':sqlalchemy.types.VARCHAR(10),
            'sexCd':sqlalchemy.types.VARCHAR(1),
            'neuterYn':sqlalchemy.types.VARCHAR(1),
            'specialMark':sqlalchemy.types.VARCHAR(200),
            'careNm':sqlalchemy.types.VARCHAR(50),
            'careTel':sqlalchemy.types.VARCHAR(14),
            'careAddr':sqlalchemy.types.VARCHAR(200),
            'orgNm':sqlalchemy.types.VARCHAR(50),
            'chargeNm':sqlalchemy.types.VARCHAR(20),
            'officetel':sqlalchemy.types.VARCHAR(14),
            'noticeComment':sqlalchemy.types.VARCHAR(200),
}
df.to_sql(name='aug', con=db_connection, if_exists='append', index=False,dtype=dtypesql)

In [7]:
# df.to_sql(name='aug', con=db_connection, if_exists='append',index=False)